/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}
/* GENERELT */

body {
  background-color: #efeae2;
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  background-color: #efeae2;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

footer {
  background-color: #efeae2;
  color: black;
}

/* TEKST */

h1 {
  font-family: "Karla", sans-serif;
  color: #0c51dd;
  font-size: 12rem;
  text-align: center;
}

h2 {
  font-family: "Karla", sans-serif;
  color: #0c51dd;
  font-size: 2rem;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 90px;
}
h3 {
  font-family: "Inria Sans", sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
  justify-content: space-between;
  line-height: 2rem;
}

p {
  max-width: 70ch;
  font-family: "Inria Sans", sans-serif;
  color: black;
  font-size: 1.2rem;
  line-height: 3rem;
}

a {
  font-family: "Inria Sans", sans-serif;
  color: black;
  font-size: 1.8rem;
}

/*MOBIL VERSION*/

/*forside*/
@media screen and (max-width: 800px) {
  .forside_overskrift h1 {
    font-family: "Karla", sans-serif;
    color: #0c51dd;
    font-size: 3rem;
    text-align: center;
  }

  .forside_overskrift h2 {
    font-family: "Karla", sans-serif;
    color: #0c51dd;
    font-size: 1rem;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .forside_billede {
    width: 100%;
    animation-name: fisk_kf;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    /*cursor: pointer;*/
  }

  @keyframes fisk_kf {
    0% {
      transform: rotate(-1deg);
      scale: 1;
    }

    100% {
      transform: rotate(1deg);
      scale: 1.05;
    }
  }

  main {
    margin-left: 5px;
    margin-right: 5px;
  }

  html {
    background-color: #f2f0eb;
  }

  footer {
    background-color: #f2f0eb;
  }

  /*om mig*/
  .kontaktinfo {
    margin: 2px;
  }

  /*tema 2*/
  .Links a {
    text-decoration: underline;
    font-size: 1.2rem;
  }

  /*knap*/
  .back_knap {
    display: inline-block;
    margin-bottom: 20px;
    border: 1px solid #f27405;
    background-color: #efeae2;
    border-radius: 4px;
    transition-duration: 0.4s;
    padding: 5px 12px;
  }

  .back_knap a {
    font-size: 1rem;
  }

  .back_knap:hover a {
    color: #efeae2;
  }

  .back_knap:hover {
    background-color: #f27405;
    color: #f27405;
  }

  h3 {
    font-family: "Inria Sans", sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 2px;
  }

  p {
    max-width: 70ch;
    font-family: "Inria Sans", sans-serif;
    color: black;
    font-size: 12px;
    line-height: 2rem;
    margin-bottom: 10px;
  }

  a {
    font-family: "Inria Sans", sans-serif;
    color: #f27405;
    font-size: 4rem;
    text-decoration-color: #f27405;
    margin-bottom: 2px;
    display: block;
    text-align: center;
    text-decoration: none;
  }

  a:hover {
    color: #0c51dd;
    text-decoration-color: #0c51dd;
  }

  .top {
    width: 10%;
  }
}

/*Desktop*/

/* FORSIDE */
@media screen and (min-width: 800px) {
  .forside_billede {
    width: 30%;
    margin: auto;
    animation-name: fisk_kf;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    /*cursor: pointer;*/
  }
  @keyframes fisk_kf {
    0% {
      transform: rotate(-1deg);
      scale: 1;
    }

    100% {
      transform: rotate(1deg);
      scale: 1.05;
    }
  }
  .forside_overskrift {
    text-align: center;
  }

  .forside_billede {
    width: 30%;
    margin: auto;
  }

  /* OM MIG */

  .om_mig {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .om_mig_tekst {
    width: 100%;
  }

  .kontaktinfo {
    width: 40%;
    margin: auto;
  }
  /* TEMAER */

  #tema_links a {
    font-size: 100px;
  }

  ul {
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    font-size: 4rem;
    padding: 0;
  }

  ul li {
    display: block;
    margin-bottom: 10px;
  }

  a {
    font-family: "Inria Sans", sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
    color: #f27405;
  }

  a li {
    font-family: "Inria Sans", sans-serif;
    color: #f27405;
    font-size: 4rem;
    text-decoration: none;
    display: block;
    padding: 10px;
  }

  a:hover {
    color: #0c51dd;
    text-decoration-color: #0c51dd;
  }

  /*TEMA 2*/

  .web {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .top {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .top img {
    width: 30px;
  }

  .back_knap {
    display: inline-block;
    margin-bottom: 20px;
    border: 1px solid #f27405;
    background-color: #f2f0eb;
    border-radius: 5px;
    transition-duration: 0.4s;
    padding: 12px 20px;
  }

  .back_knap:hover a {
    color: #efeae2;
  }

  .back_knap:hover {
    background-color: #f27405;
    color: #f27405;
  }

  /* TEMA 3 */
  .Links {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2%;
    line-height: 2rem;
    text-decoration-color: #f27405;
  }

  .ux_ui {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .ux_ui h3 {
    margin-bottom: 10px;
  }

  .ux_ui p {
    margin-bottom: 40px;
  }

  /* TEMA 4 */
  .flex_billeder {
    display: flex;
    width: 100%;
  }

  /* TEMA 5 */
  .dokumentation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .indhold {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .indhold h3 {
    margin-bottom: 10px;
  }

  .indhold p {
    margin-bottom: 40px;
  }

  .indhold_2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .indhold_tekst {
    margin-bottom: 60px;
  }
}
